<div class="text-center p-4">
  <img src="https://cdn.worldvectorlogo.com/logos/react-1.svg" width="138" height="128">
</div>


<div class="text-center p-4">
  <h2>CRUD</h2>
  <p class="lead">CRUD is back!</p>
</div>

@if (ViewBag.IsComplete == false)
{
  @using (Html.BeginForm())
  {
<div class="row justify-content-center">
  <div class="text-center container-sm col-8 col-sm-6 rounded">
    <div class="text center col-12">
    @using (Html.BeginForm())
    {
      <input type="submit" value= "Mark Complete" class = "bn632-hover bn20" />
    }
    </div>
  </div>
</div>
  }
} else if (ViewBag.IsComplete == true)
{
<div class="row justify-content-center">
  <div class="text-center container-sm col-8 col-sm-6 rounded">
    <div class="text center col-12">
    @using (Html.BeginForm())
    {
      <input type="submit" value= "Completed" class = "bn632-hover bn22" />
    }
    </div>
  </div>
</div>
}

<section class="text-content p-3 m-3">
  <div class="container-md p-3 m-3">
    <p class="lead">  
      Create, Read, Update, Delete. 

      These are words you'll be hearing a lot of in your programming career. These are the four fundamental operations programmers perform on databases and collections of data. Master the concepts here using React and you're one step closer to your coding nirvana. 

      <blockquote class="px-5 p-3 px-3 mx-5 p-3 border border-light">State is a plan JavaScript object used by React to represent an information about the component's current situation. It’s managed in the component (just like any variable declared in a function). The difference is while a “normal” variable “disappears” when their function exits, the state variables are preserved by React.</blockquote>
    </p>
    <p class="lead">
      If you want extra practice beyond the <a href="http://LearnHowToProgram.com">LearnHowToProgram.com</a> React curriculum, try this tutorial for building a Simple CRUD app from Unimedia.tech <a href="https://www.unimedia.tech/2021/11/30/build-a-simple-crud-app-using-react-and-node/">HERE</a>. 
    </p>
    <p class="lead">
      In an entirely unexpected turn, we've included a tutorial video below. 
    </p>
  </div>
</section>

<section class="video-content bg-light shadow-lg p-3 mb-5 rounded">
  <div class="container-lg p-3 m-3">
    <div class="text-center">
      <h2>React CRUD tutorial</h2>
    </div>
    <div class="row justify-content-center my-5">
      <iframe width="760" height="515" src="https://www.youtube.com/embed/re3OIOr9dJI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</section>


<div class="row justify-content-center my-5">
  <div class="text-center container-lg p-3 m-3 col-8 col-sm-6 rounded">
    <a href="/FundamentalsTwo/Lesson6"><button class="bn632-hover bn20">Previous Lesson</button></a>
    <a href="/home/overview"><button class="bn632-hover bn20">Dashboard</button></a>
  </div>
</div>

<div class="card m-3 shadow-lg p-5 mb-5 rounded">
  <h3 class="text-center">Resources</h3>
  <a href="https://www.freecodecamp.org/news/how-to-perform-crud-operations-using-react/">How to Perform CRUD Operations using React</a>
  <a href="https://www.freecodecamp.org/news/react-crud-app-how-to-create-a-book-management-app-from-scratch/">Creating a Book Management App from Scratch</a>
  <a href="https://www.bezkoder.com/react-crud-web-api/">BezKoder React CRUD Web Api</a>
  <a href="https://www.unimedia.tech/2021/11/30/build-a-simple-crud-app-using-react-and-node/">Build A Simple Crud App</a>
</div>
