@Html.ActionLink("⬅️ Previous Page", "Overview", "Home")

@if (ViewBag.IsComplete == true)
{
  <p>✅ Completed!</p>
  @using (Html.BeginForm())
  {
    <input type="submit" value="Actually, It's not complete" />
  }
} else if (ViewBag.IsComplete == false)
{
  @using (Html.BeginForm())
  {
    <input type="submit" value="Mark Complete" />
  }
}

@Html.ActionLink("Next Page ➡️", "Lesson2")

<!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/v_hR4K4auoQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->