<div class="text-center p-4">
  <img src="https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/firebase/firebase.png" width="138" height="128">
</div>


<div class="text-center p-4">
  <h2>Firestore</h2>
  <p class="lead">How Cloud Firestore Works & Using Queries</p>
</div>

@if (ViewBag.IsComplete == false)
{
  @using (Html.BeginForm())
  {
<div class="row justify-content-center">
  <div class="text-center container-sm col-8 col-sm-6 rounded">
    <div class="text center col-12">
    @using (Html.BeginForm())
    {
      <input type="submit" value= "Mark Complete" class = "bn632-hover bn20" />
    }
    </div>
  </div>
</div>
  }
} else if (ViewBag.IsComplete == true)
{
<div class="row justify-content-center">
  <div class="text-center container-sm col-8 col-sm-6 rounded">
    <div class="text center col-12">
    @using (Html.BeginForm())
    {
      <input type="submit" value= "Completed" class = "bn632-hover bn22" />
    }
    </div>
  </div>
</div>
}

<section class="text-content p-3 m-3">
  <div class="container-md p-3 m-3">    
    <p>From the Firebase Documentation:</p>
    <blockquote cite="https://firebase.google.com/docs/firestore">
      “Cloud Firestore is a flexible, scalable database for mobile, web, and server development from Firebase and Google Cloud. Like Firebase Realtime Database, it keeps your data in sync across client apps through realtime listeners and offers offline support for mobile and web so you can build responsive apps that work regardless of network latency or Internet connectivity. Cloud Firestore also offers seamless integration with other Firebase and Google Cloud products, including Cloud Functions.”
    </blockquote>
    <blockquote cite="https://firebase.google.com/docs/firestore/query-data/get-data">
      "There are two ways to retrieve data stored in Cloud Firestore. Either of these methods can be used with documents, collections of documents, or the results of queries:
      <ul>
        <li>Call a method to get the data.</li>
        <li>Set a listener to receive data-change events.</li>
      </ul>
      When you set a listener, Cloud Firestore sends your listener an initial snapshot of the data, and then another snapshot each time the document changes."
    </blockquote>
    <p>Back4App describes the advantages of Firestore over Firebase:</p>
    <blockquote cite="https://blog.back4app.com/firebase-vs-firestore/">
      <ul>
        <li>Firestore provides better querying and more structured data</li>
        <li>Firestore is designed to scale</li>
        <li>Firestore provides multi region deployment</li>
      </ul>
    </blockquote>
  </div>
</section>

<section class="video-content bg-light shadow-lg p-3 mb-5 rounded">
  <div class="container-lg p-3 m-3">
    <div class="text-center">
      <h2>Firestore Data Modeling - Five Cool Techniques</h2>
    </div>
    <div class="row justify-content-center my-5">
        <iframe width="760" height="515" src="https://www.youtube.com/embed/35RlydUf6xo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</section>

<section class="video-content bg-light shadow-lg p-3 mb-5 rounded">
  <div class="container-lg p-3 m-3">
    <div class="text-center">
      <h2>How do Queries Work in Cloud Firestore?</h2>
    </div>
    <div class="row justify-content-center my-5">
        <iframe width="760" height="515" src="https://www.youtube.com/embed/Ofux_4c94FI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</section>

<section class="video-content bg-light shadow-lg p-3 mb-5 rounded">
  <div class="container-lg p-3 m-3">
    <div class="text-center">
      <h2>How To Set Up react With Firebase/Firestore</h2>
    </div>
    <div class="row justify-content-center my-5">
        <iframe width="760" height="515" src="https://www.youtube.com/embed/T-GfSkC1JpE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</section>

<div class="row justify-content-center my-5">
  <div class="text-center container-lg p-3 m-3 col-8 col-sm-6 rounded">
    <a href="/NoSQL/Lesson3"><button class="bn632-hover bn20">Previous Lesson</button></a>
    <a href="/NoSQL/Lesson5"><button class="bn632-hover bn20">Next Lesson</button></a>
  </div>
</div>

<div class="card m-3 shadow-lg p-5 mb-5 rounded">
  <h3 class="text-center">Resources</h3>
  <a href="https://firebase.google.com/docs/firestore">Official Firebase Documentation for Firestore</a>
  <a href="https://blog.back4app.com/firebase-vs-firestore/">Firebase vs. Firestore</a>
  <a href="https://rnfirebase.io/firestore/usage">React Native Firebase: Firestore</a>
</div>