<h1>Install/Setup Of Redux</h1>
<a href="https://www.youtube.com/watch?v=f87wPQMgF4c&list=PL4cUxeGkcC9ij8CfkAY2RAGb-tmkNwQHG&index=39">React & Redux: Store Subscriptions</a>
<a href="https://react-redux.js.org/introduction/getting-started">React-Redux: Getting Started</a>
<a href="https://dev.to/bhatvikrant/how-to-setup-redux-with-react-2020-cdj">How To Setup Redux With React</a>

@using (Html.BeginForm())
{
  <input type="submit" value="Submit" />
}

<div class="title">
  <h1>Install/Setup Of Redux</h1>
</div>

<div class="content"></div>

<div class="resources">resources</div>

Step 1: Setup your react project

Step 2: Install redux and react-redux

Step 3: Setup Redux Store in your index.js

Step 4: Setup counter reducer/actions/types

Step 5: JSX for increment / decrement buttons

Step 6: Connect redux state/actions to a component