<h1>Redux Basics</h1>
<a href="https://www.youtube.com/watch?v=HKU24nY8Hsc&ab_channel=TheNetNinja"</a>
<a href="https://www.geeksforgeeks.org/introduction-to-react-redux "</a>
<a href="https://www.smashingmagazine.com/2016/06/an-introduction-to-redux/"</a>
<a href="https://rossbulat.medium.com/redux-for-react-a-simple-introduction-b1f9dcbda8f4"</a>
<a href="https://redux.js.org/tutorials/fundamentals/part-5-ui-react"</a>
<a href="https://www.digitalocean.com/community/tutorials/redux-redux-intro "</a>

@using (Html.BeginForm())
{
  <input type="submit" value="Submit" />
}