<h1>Further Exploration & Advanced Redux Topics</h1>

<h4>Redux & React Hooks</h4>
<a href="https://react-redux.js.org/api/hooks">Link One</a>
<a href="https://www.youtube.com/watch?v=3zoIigieur0&ab_channel=techsith">Link Two</a>

<h4>Redux Toolkit</h4>
<a href="https://redux-toolkit.js.org/introduction/getting-started">Link Two</a>
<a href="https://www.youtube.com/watch?v=iBUJVy8phqw&ab_channel=TheNetNinja">Link Four</a>

<h4>Redux Thunk</h4>
<a href="https://www.youtube.com/watch?v=apg98RIJfJo&list=PL4cUxeGkcC9iWstfXntcj8f-dFZ4UtlN3&index=14&ab_channel=TheNetNinja">Link Five</a>
<a href="https://github.com/reduxjs/redux-thunk">Link Six</a>
<a href="https://redux.js.org/usage/writing-logic-thunks">Link Seven</a>

@using (Html.BeginForm())
{
  <input type="submit" value="Submit" />
}