<h1>Install/Setup Of Redux</h1>
https://www.youtube.com/watch?v=f87wPQMgF4c&list=PL4cUxeGkcC9ij8CfkAY2RAGb-tmkNwQHG&index=39
https://react-redux.js.org/introduction/getting-started
https://dev.to/bhatvikrant/how-to-setup-redux-with-react-2020-cdj 

@using (Html.BeginForm())
{
  <input type="submit" value="Submit" />
}