<h1>Redux Stores</h1>
<a href="https://www.youtube.com/watch?v=qlCnK9H9NTc&list=PL6gx4Cwl9DGBbSLZjvleMwldX8jGgXV6a&index=4">Link One</a>
<a href="https://www.youtube.com/watch?v=sNyXE35liAE&list=PL4cUxeGkcC9ij8CfkAY2RAGb-tmkNwQHG&index=35">Link Two</a>
<a href="https://react-redux.js.org/using-react-redux/accessing-store">Link Three</a>
<a href="https://redux.js.org/api/store">Link Four</a>
<a href="https://lightrains.com/blogs/redux-store-explanation-for-beginners/">Link Five</a>

@using (Html.BeginForm())
{
  <input type="submit" value="Submit" />
}