@using (Html.BeginForm())
{
  <input type="submit" value="Complete" />
}

<div class="text-center">
  <h2>Introduction To Redux</h2>
  <p class="lead">Why use React Redux?</p>
</div>

<section class="text-content">
  <div class="container-md">
    <p class="lead">Redux is predictable state container for javascript applications. This means whenever there are changes within the application including both data and UI changes, those changes are contained in a single javascript object called the state. The state is often referred to as the single-source-of-truth because it is never mutated or modified, but instead recreated.
    </p>
    <p class="lead">  
    With a single-source-of-truth we can better predict the state of the application at a giving moment.</p>
    <p class="lead">
    Redux is a predictable state container for JavaScript apps.
    </p>
    <p class="lead">
    It helps you write applications that behave consistently, run in different environments (client, server, and native), and are easy to test. On top of that, it provides a great developer experience, such as live code editing combined with a time traveling debugger.
    </p>
    <p class="lead">
    You can use Redux together with React, or with any other view library. It is tiny (2kB, including dependencies), but has a large ecosystem of addons available.
    </p>
  </div>
</section>

<section class="video-content bg-light">
  <div class="container-lg">
    <div class="text-center">
      <h2>React & Redux Basics</h2>
    </div>
    <div class="row justify-content-center my-5">
        <iframe width="760" height="515" src="https://www.youtube.com/embed/D2MqT4OEgoE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</section>

<div class="card">
  <h3>Additional Resources</h3>
  <a href="https://react-redux.js.org/introduction/why-use-react-redux">React Documenation: Why Use React?</a>
  <a href="https://dev.to/meddy672/react-redux-in-less-then-7-minutes-had">React - Redux In Less Then 7 Minutes</a>
  <a href="https://www.youtube.com/watch?v=D2MqT4OEgoE&ab_channel=Academind">React & Redux Basics: What & Why?</a>
  <a href="https://www.youtube.com/watch?v=DiLVAXlVYR0&ab_channel=thenewboston">The New Boston: Redux</a>
</div>

