<h1>Install/Setup Of Redux</h1>
<a href="https://www.youtube.com/watch?v=f87wPQMgF4c&list=PL4cUxeGkcC9ij8CfkAY2RAGb-tmkNwQHG&index=39"></a>
<a href="https://react-redux.js.org/introduction/getting-started"></a>
<a href="https://dev.to/bhatvikrant/how-to-setup-redux-with-react-2020-cdj"></a>

@using (Html.BeginForm())
{
  <input type="submit" value="Submit" />
}