<h1>Redux Actions</h1>

<a href="https://www.youtube.com/watch?v=FGCsuwIORb0&list=PL4cUxeGkcC9ij8CfkAY2RAGb-tmkNwQHG&index=36">Link One</a>
<a href="https://www.tutorialspoint.com/redux/redux_actions.htm">Link Two</a>
<a href="https://read.reduxbook.com/markdown/part1/04-action-creators.html">Link Three</a>

@using (Html.BeginForm())
{
  <input type="submit" value="Submit" />
}