<h1>Introduction</h1>
<h1>Fundamentals Part 1</h1>
<h1>Fundamentals Part 2</h1>
<h1>Redux</h1>
<h1>NoSQL</h1>
<p>@Html.ActionLink("Lesson1", "NoSQL", new {checkmark = ViewBag});
<h1>APIs</h1>

<p>@Html.ActionLink("Back to categories", "Index")</p>
<p>@Html.ActionLink("Edit Category", "Edit", new { id = Model.CategoryId })</p>
<p>@Html.ActionLink("Delete Category", "Delete", new { id = Model.CategoryId })</p>